                                        @media screen and (max-width: 1023px) {
                                            .thegem-vc-text.thegem-custom-681edec06bb0f9851 {
                                                display: block !important;
                                            }
                                        }

                                        @media screen and (max-width: 767px) {
                                            .thegem-vc-text.thegem-custom-681edec06bb0f9851 {
                                                display: block !important;
                                            }
                                        }

                                        @media screen and (max-width: 1023px) {
                                            .thegem-vc-text.thegem-custom-681edec06bb0f9851 {
                                                position: relative !important;
                                            }
                                        }

                                        @media screen and (max-width: 767px) {
                                            .thegem-vc-text.thegem-custom-681edec06bb0f9851 {
                                                position: relative !important;
                                            }
                                        }